@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Poppins", sans-serif;
}

.ct {
  color: rgb(75, 89, 102);
}
.ts {
  color: #4b5966;
}
.cp {
  color: #5caf90;
}
.bgp {
  background-color: #5caf90;
}
.bgp:hover {
  background-color: #379572;
}

/* Pagination Bullet Styles */
.custom-bullet {
  display: inline-block;
  width: 12px !important; /* Mobile e ektu choto korlam */
  height: 12px !important;
  border: 1px solid #5caf90;
  border-radius: 50%;
  margin: 0 4px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active.custom-bullet {
  background: #5caf90;
  width: 25px !important; /* Mobile active size */
  height: 10px !important;
  border-radius: 10px;
  transform: scale(1.1);
}

/* Pagination Position Fix */
.HeroSwiper .swiper-pagination {
  position: absolute !important;
  bottom: 10px !important; 
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;
}

/* Desktop Styles (Media Query) */
@media (min-width: 768px) {
  .HeroSwiper .swiper-pagination {
    bottom: 60px !important;
  }

  .custom-bullet {
    width: 15px !important;
    height: 15px !important;
    margin: 0 5px;
  }

  .swiper-pagination-bullet-active.custom-bullet {
    width: 30px !important;
    height: 12px !important;
    transform: scale(1.2);
  }
}