@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Poppins", sans-serif;
}

.ct {
  color: rgb(75, 89, 102);
}
.ts {
  color: #4b5966;
}
.cp{
  color: #5caf90;
}
.bgp {
  background-color: #5caf90;
}
.bgp:hover{
  background-color: #379572;
}


.custom-bullet {
  display: inline-block;
  width: 15px !important;
  height: 15px !important;
  border: 1px solid #5caf90;
  border-radius: 50%;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active.custom-bullet {
  background: #5caf90;
  width: 30px !important;  
  height: 12px !important;  
  border-radius: 10px;
  transform: scale(1.2);
}

.HeroSwiper .swiper-pagination {
  position: absolute !important;
  bottom: 60px !important; 
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;
}